@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "calibri";
	src: url("fonts/calibri.eot");
	src: local("calibri"), url("fonts/calibri.ttf") format("truetype");
}
@font-face {
	font-family: "giorgio";
	src: url("fonts/Giorgio.eot");
	src: local("Giorgio"), url("fonts/Giorgio.ttf") format("truetype");
}
@font-face {
	font-family: "HelveticaCd";
	src: url("fonts/HelveticaCd.otf");
	src: local("HelveticaCd"), url("fonts/HelveticaCd.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("fonts/Roboto-Regular.otf");
	src: local("Roboto-Regular"), url("fonts/Roboto-Regular.ttf") format("truetype");
	font-weight:900;
}
@font-face {
	font-family: "Roboto-Thin";
	src: url("fonts/Roboto-Thin.eot");
	src: local("Roboto-Thin"), url("fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans-Light";
	src: url("fonts/OpenSans-Light.eot");
	src: local("OpenSans-Light"), url("fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Comfortaa-Light";
	src: url("fonts/Comfortaa-Light.eot");
	src: local("Comfortaa-Light"), url("fonts/Comfortaa-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'praxis_lt_light';
    src: url('fonts/praxis_lt_light.eot');
    src: url('fonts/praxis_lt_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/praxis_lt_light.woff') format('woff'),
         url('fonts/praxis_lt_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
