@charset "utf-8";
body {
	padding-top: 50px;
	background-image:url(../../public/img/background_home.png)	;
}

.container, .enquete {
	font-family: "praxis_lt_light";	
	font-size:18px;
}

#dados-home .header-box {
	font-size:22px;	
	margin-bottom:14px;
	/* text-transform:uppercase; */
	font-weight:bold;

}

.header-text-color{
	color: #324b80	;
}

.header-text-color-danger{
	color: #900;
}

.top-border {
	border-top:2px solid #324b80;	
}
.top-border-danger {
	border-top:2px solid #900;
}

.focus {
		-moz-box-shadow-bottom: 4px 4px 4px black;
		-webkit-box-shadow-bottom: 4px 4px 4px black;
		box-shadow: 2px 2px 5px #ccc;
}

#carousel-informativo .item {
	height: 380px;
	overflow: auto;
	padding-right: 10px;
}

/*rect{width:100% !important;}/* CSS Document *//* CSS Document */ 

