@charset "utf-8";
/* CSS Document */

* {
 border-radius: 0 px !important;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.max-height {
    max-height: 400px;
    overflow-y: auto;
}

body {
    padding-top: 50px;
}

.alert-gray {
    color: #777777;
    background-image: -webkit-linear-gradient(top, #eeeeee 0, #dddddd 100%);
    background-image: -o-linear-gradient(top, #eeeeee 0, #dddddd 100%);
    background-image: linear-gradient(to bottom, #eeeeee 0, #dddddd 100%);
    background-repeat: repeat-x;
    border: 1px solid #ddd;

}

.nome-pilar, .pasta {
    cursor: pointer
}

#index-conteudo {

}

.index-conteudo-padding-on {
    padding-top: 70px;
}

.index-conteudo-padding-off {
    padding-top: 51px;
}

#ferramenta iframe {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

#ferramenta {
    top: 51px;
    position: absolute;
    width: 100%;
    height: calc(100% - 52px);
}

.fundo {
    background-color: #D5FFD5;
}

#tb-dados-pilares {
    width: 100%;
    font-size: 12px;
}

#tb-dados-pilares td {
    padding: 0px;
    margin: 0px;
}

#tb-dados-pilares .pilar {
    background-color: #f5f5f5;
    margin: 1px;
}

#tb-dados-pilares tr.filho td {
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}

#tb-dados-pilares .chk-produto {
    padding: 0px;
    margin: 0px;
}

#tb-dados-pilares p {
    padding: 4px;
    margin: 1px;
}

.rollover a:hover {
    background-color: #e5e5e5;
}

.marginBottom-0 {
    margin-bottom: 0;
}

#home-rodape {
    background-color: #ccc;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "praxis_lt_light";
}

#home-rodape small {
    color: #ccc;

}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-default-ferramentas {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}