@charset "utf-8";
body { font-size:13px !important; }

.primary, .success, .danger, .warning, .mktshare.danger, .mktshare.success {
    text-align:right;
    color:#fff;
    padding:2px;
    margin-bottom:4px;
    font-size:10px;
    font-weight:bold;	
}

.mktshare .danger {
    padding:3px;
    text-align:right;
    font-size:17px;
    width:62px;
    color:#d9534f;
    background:#FFD2D2 url(img/down.png) no-repeat center left;	
}

.mktshare .success {
    padding:3px;
    text-align:right;
    font-size:17px;
    width:62px;
    color:#5cb85c;
    background:#dff0d8 url(../img/up.png) no-repeat center left;	
}

.primary {
    background:#428bca url('../img/bullet_blue.png') no-repeat center left;	
}

.success {
    background:#5cb85c url(../img/bullet_green.png) no-repeat center left;	
}

.danger {
    background:#d9534f url(../img/bullet_red.png) no-repeat center left;	
}

.warning {
    background:#f0ad4e url(../img/bullet_yellow.png) no-repeat center left;	
}

.list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
    border-radius: 3px;
    border-color:1px solid #d9534f;
    padding:5px;
    text-align:center;
}

.alert-gray {
    color:#d9534f;
    border: 1px solid #ddd;
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
}

.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
    text-align:center;
}

table { empty-cells:show; }

.disabled{
    background-color: #eee;
    color: #777;
    text-align:center;
    background-repeat: repeat-x;
}
.alert-danger {
    color:#d9534f;
    background-color:#FFD2D2;
    border-color:1px solid #d9534f;
    border-radius: 3px;
    text-height:10px;
}

.alert-success {
    background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    text-align:center;
    color: #3c763d;
}

.alert-danger {
    background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    color: #a94442;
    text-align:center;
}

#tb-dados-pilares #nome-pilar, #titulo-pilares #titulo-pilar {
    width:22%;
}

#tb-dados-pilares #valor-pilar, #titulo-pilares #nome-mes {
    width:6%;
}

#tb-dados-pilares #nome-pilar {
    width:22%;
}

#tb-dados-pilares td {
    padding:5px;
    border-radius: 3px;
    font-size:10px;
}

h5 { font-size:11px }

p {
    padding:10px;	
}
.col-50 {
    width:50%;	
    margin-left: calc(50% - 1px);
}
.col {
    padding:1px;
}

.float-left {
    float:left	
}

.row {
    margin-bottom:10px;	
}

.header {
    font-weight:bold;
    border: 1px solid #ddd;
    margin-bottom:10px;	

    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    border-radius: 3px;
    padding:5px;
    font-size:13px !important;
}

.body {
    font-size:13px !important;
}

.header, .body, .report-header  {

    margin-right:5px;
    margin-left:5px;
}

.col-imp-foto {
    float:left;	
    width:35%;	
}
.col-imp-dados {
    font-weight:normal !important;	
}
.col-imp-dados h5 {
    font-weight:normal !important;
    margin-bottom:5px;
    margin-top:3px;

}

.col-imp-dados strong {
    font-size:10px !important;
    font-weight:bold;
    color:#000;
}

.pontuacao table {
    font-size:9px !important;
}


.mktshare table {
    font-size:10px;	
}

.mktshare small {
    font-size:75%;	
    color:#999;
}

.mkt-brasil {
    font-size:9px;
    color:#888;
}

.titulo {
    font-size:20px;
    color:#000;	
    font-weight:bold;
    background:url(../img/logoems.jpg) no-repeat center left;
    padding-left:60px;
    text-align:right;
    height:70px;

}

.titulo small {
    font-size:12px;	
    color:#999;

}

.linha {
    margin-top:5px;
    border-bottom:2px solid #DDD;
    margin-bottom:20px;
}

#table-rank td {
    font-size:17px;	
}
#titulo-pilares {
    width:100%;	
    padding:0px;
    margin:0px;
}

#titulo-pilares td {
    font-size:13px !important;
    font-weight:bold;
    padding:0px;
    margin:0px;
}

#titulo-pilares #titulo-pilar {
    font-size:13px;
}

#titulo-pilares #nome-mes {
    font-size:10px;
    text-align:center !important;
    padding-right:5px;
    padding-left:5px;
}/* CSS Document */

