
/* CSS Document */
* {
    border-radius: 0px !important;
}

html, body {
	padding:0px;
	margin:0px;	
/*	height:100%;*/
	font-family:"open_sansregular";
/*        background-color: #f9f9f9;*/
	
}

.roboto {
    font-family:Roboto-Thin;
}

body {
/*    //background-color: #FBFBFB;
	//padding-top: 50px;	*/
}
.modal-header {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.table tbody>tr>td
{
    vertical-align: middle;
}  

.max-height{max-height: 450px;overflow-y: auto;overflow-x:auto}


 .modal .modal-center  {
    position: fixed;
    top: 25% !important;
/*    //left: 50%;*/
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}


.col-xs-15,
    .col-sm-15,
    .col-md-15,
    .col-lg-15 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    
    .col-xs-15 {
    width: 20%;
    float: left;
    }
    @media (min-width: 768px) {
    .col-sm-15 {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 992px) {
        .col-md-15 {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .col-lg-15 {
            width: 20%;
            float: left;
        }
    }