
#pma-painel {
    /* font-family: "arial"; */
    /*font-family: "open_sansregular";*/
    height:100%;
    font-family: 'Roboto', "arial";
    background:  #f9f9f9;
    color: #73879C;
}


#pma-painel .panel-left { 
    /*border-right: 1px solid #ddd; */
    background: #2A3F54; 
    color: #fff;
}

#pma-painel .panel-right {
    padding:0px;
}

#pma-painel .chk {
    margin:0px !important;  
}
    
#pma-painel .thick-border {
    border-right: 2px solid #ddd;
}

#pma-painel .hr {
    margin-top:6px;
    border-bottom:1px solid #ddd;
    margin-bottom: 6px;
}

#pma-painel .alert {
    margin-bottom:2px; 
    padding:2px
}

#pma-painel .alert-default {
    color: #777;
    background-color: #e5e5e5;
    border-color: #CCC;
}

#pma-painel .panel {
    margin:2px;
}

#pma-painel .panel-body {
    padding:10px;
}

#pma-painel .tb td, #pma-painel .tb th {
    white-space: nowrap;
}

#pma-painel .table {
    margin-bottom: 0px;
    font-size: 12px
}

#pma-painel .table > tbody > tr > td {
     vertical-align: middle;
}

#pma-painel .progress {
    margin-bottom: 0px;
    height: 15px;
    position: relative;
}

#pma-painel .nopad {
    padding:0px;
}
#pma-painel .progress-bar-title {
    position: absolute;
    text-align: center;
    line-height: 15px; /* line-height should be equal to bar height */
    overflow: hidden;
    color: #FFF;
    right: 0;
    left: 0;
    top: 0;
    font-weight: 600;
}

#pma-painel .progress-bar-title-white {
    color: #FFF;
}

#pma-painel .progress-bar-title-black {
    color: #777;
}

#pma-painel .padding {
    padding-right: 10px;
    padding-left: 10px;
}

#pma-painel .bg-default {
    color: #000;
    background-color: #ddd;
}

#pma-painel .box {
    font-size:35px;
    font-weight: 600;
}


#nav-dash a {
    color:#73879C;
}

#pma-painel .th {
    font-weight: bold;
}

#pma-painel .nav-menu-right {
    border-bottom: 1px solid #ddd; 
    background: #f1f1f1;
    margin-bottom: 5px;
}




#pma-painel.td-pad {
        padding-left:15px;
    }

    #pma-painel  .td-border {
        border-right: 3px solid #ddd !important;   
    }


    #pma-painel  .c-1 {
        color:green;
    }

    #pma-painel  .c-0 {
        color: red;
    }
    
    #pma-painel   .c-2 {
        color: orange;
    }

    #pma-painel   .hand {
        cursor:pointer;
    }