@charset "utf-8";
/* CSS Document */

html, body {
	padding:0px;
	margin:0px;	
	height:100%;
        font-family: "open_sansregular";
}
.max-height{max-height: 400px;overflow-y: auto;}
body {
	padding-top: 50px;
}


.alert-gray {
	color:#777777;	
	background-image: -webkit-linear-gradient(top, #eeeeee 0, #dddddd 100%);
	background-image: -o-linear-gradient(top, #eeeeee 0, #dddddd 100%);
	background-image: linear-gradient(to bottom, #eeeeee 0, #dddddd 100%);
	background-repeat: repeat-x;
	border: 1px solid #ddd;
	
}



.nome-pilar, .pasta {cursor:pointer}

#index-conteudo {
		
}

.index-conteudo-padding-on {
	padding-top: 70px;	
}

.index-conteudo-padding-off {
	padding-top: 51px;	
}

#ferramenta iframe {
	width:100%;
	height:100%;	
}


 iframe {
	width:100%;
	height:100%;	
}

#ferramenta {
	top:51px;
	position:absolute;
	width:100%;
	height:calc(100% - 52px);	
}

.fundo {
	background-color:#D5FFD5;	
}

#tb-dados-pilares {
	width:100%;
	font-size:12px;	
}

#tb-dados-pilares td {
	padding:0px;
	margin:0px;
}

#tb-dados-pilares .pilar {
	background-color:#f5f5f5;
	margin:1px;	
}

#tb-dados-pilares tr.filho td {
	font-size:11px;
	padding:0px;
	margin:0px;
}

#tb-dados-pilares .chk-produto {
	padding:0px;
	margin:0px;
}

#tb-dados-pilares p {
	padding:4px;
	margin:1px;	
}


.rollover a:hover {
	background-color:#e5e5e5;
}



.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#home-rodape {
	background-color: 11210105;
	color:#fff;
	margin-top:20px;
	margin-bottom:0px;
	font-family: "praxis_lt_light";	
}

#home-rodape small {
	color:#ccc;	
	
}

.modal-header {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}