<p class="h2"><b>GERENTE REGIONAL DE CONTAS - VAREJO</b></p>

<p class="h5"  align="center"><u>CONCURSO - DOMÍNIO EMS</u></p>

<ol>
    <li>Périodo de Vigência</li>
    <li>Variáveis para Cálculo do Prêmio</li>
    <li>Pontuação dos Rangers</li>
    <li>Acompanhamento da Pontuação</li>
    <li>Prêmio</li>
    <li>Entrega Prêmio</li>
    <li>Regras</li>
</ol>

<p class="h5"><b>1. <u>PERÍODO DE VIGÊNCIA</u></b></p>
<p>Os critérios estabelecidos serão aplicados a partir da Base de Janeiro/2016 e serão válidas até o mês Base Novembro/2016</p>

<p class="h5"><b>2. <u>VARIÁVEIS PARA CÁLCULO DO PRÊMIO</u></b></p>
<p>O cálculo será composto por duas(2) Modalidades, conforme abaixo:</p>

<p class="padding arrow-small"><b>EVOLUÇÃO DE POSITIVAÇÃO - CANAL FARMÁCIA</b></p>
<p class="padding">AVALIAÇÃO DA EVOLUÇÃO DE POSITIVAÇÃO DAS FARMÁCIAS CORRESPONDENTES ÀS REGIÕES DE ATUAÇÃO DOS DISTRIBUIDORES.</p>
<p><b>Auditoria utilizada para análise do Realizado: MDTR em Reais - IMS</b></p>

<p class="padding arrow-small"><b>NOTA DE PROVA</b></p>
<p class="padding">RESULTADO DE PROVA APLICADA PELO DEPTO DE TREINAMENTO AO LONGO DO ANO.</p>
<p class="padding">AS DATAS SERÃO DIVULGADAS COM 10 DIAS DE ANTECEDÊNCIA.</p>
<p><b class="mark">Análise das Notas: Depto de Treinamento.</b></p>

<p class="h5"><b>3. <u>PONTUAÇÃO DOS RANGES</u></b></p>

<p class="arrow-small"><b>EVOLUÇÃO DE DEMANDA</b></p>
<p class="h2"><img src="docs/dominio/img/VA1.png"></p>

<p class="arrow-small"><b>NOTA DE PROVA</b></p>
<p class="h2"><img src="docs/dominio/img/VA2.png"></p>

<p><b>A somatória dos pontos das Variáveis será a Pontuação Quadrimestral de cada Gerente REGIONAL DE CONTAS - VAREJO. Esta pontuação será calculada periodicamente-de acordo com o Período de Vigência.</b></p>
<p><b>O Gerente REGIONAL DE CONTAS - VAREJO com a Maior pontuação em Nov/16 será o Vencedor do Concurso.</b></p>

<p class="h5"><b>4. ACOMPANHAMENTO DA PONTUAÇÃO</b></p>
<p>Todos os Colaboradores envolvidos no Concurso - e seus respectivos Gerentes - irão receber <b>Dois Extratos Parciais</b> aberto da pontuação de Cada Colaborador.

<p class="h5"><b>5. <u>PRÊMIO</U></b></p>
<p>Segue Premiação do ganhador da Linha Comercial:</p>
<p class="h2"><img src="docs/dominio/img/VA3.png"></p>

<p class="h5"><b>6. <u>ENTREGA DO PRÊMIO</U></b></p>
<p>Os Vencedores do Concurso "Domínio EMS" irão receber os Prêmios na Convenção Nacional de 2017</p>

<p class="h5"><b>7. <u>REGRAS</U></b></p>

<ol type="a">
    <li>Serão elegíveis para a Campanha Domínio os colaboradores que foram contratados até 31 de Agosto de 2016 e que estejam com contrato de trabalho ativo até 31/11/2016<br></li>
    <li>Nos casos de alterações de Setor, o colaborador envolvido assumirá o histórico de Pontuação do respectivo território para as variáveis "Cobertura de Objetivos - VENDA", "Cobertura de Objetivos - Demanda", "Evolução Brasil x Evolução Vendedor" e "Positivação". Para as variáveis Nota de Prova o histórico irá acompanhar o colaborador.<br></li>
    <li>Os Demissionários e Demitidos até 31/11 do ano vigente da Campanha deixarão de Concorrer ao Prêmio do Concurso e sua Pontuação/Histórico será assumido pelo Novo Colaborador, conforme tópico B.<br></li>
    <li>Em caso de suspensão do contrato de trabalho, em período maior que 50% do Período de Apuração, o colaborador não fará jus a concorrer a Premiação.<br></li>
    <li>As disposições contidas nesta Políticas serão igualmente aplicadas aos temporários, nos termos do art. 12 da lei 6.019/74, contato que o mesmo participe em um período maior que 50% do Período de Apuração/Vigência.<br></li>
    <li>O Concurso abrange as seguintes Linhas de Negócio: Cardio, Clínica, Saúde, Neuro, Fênix, Sirius e Comercial (PDV, Contas Atacado e Contas Varejo).<br></li>
    <li>Serão aplicadas arredondamentos universais em todos os números/percentuais.<br></li>
    <li>No caso de Empate de Pontuação, iremos considerar os Pontos individuais das Variáveis, de acordo com a ordem abaixo:</li>
</ol>

<p class="padding arrow-small"><b>EVOLUÇÃO DE DEMANDA</b></p>
<p class="padding arrow-small"><b>NOTA DE PROVA</b></p>


<p class="padding">Caso o empate persista, iremos abrir casas Decimais na Pontuação Final até que ocorra o desempate.</p>

<ol type="a" start="9">
        <li>Um Comitê julgador composto pelo Diretor de Demanda e Markenting, Diretor de Comercial, Vice-Presidência e Juridico Trabalhista irá decidir em casos Omissos das Regras citadas acima:</li>
</ol>


