<p class="h2 arrow"><b>PROPAGANDISTA</b></p>

<p class="h5" align="center"><u>CONCURSO - DOMÍNIO EMS</u> </p>

<ol class="bold">
    <li>Périodo de Vigência</li>
    <li>Variáveis para Cálculo do Prêmio</li>
    <li>Pontuação dos Rangers</li>
    <li>Acompanhamento da Pontuação</li>
    <li>Prêmio</li>
    <li>Entrega Prêmio</li>
    <li>Regras</li>
</ol>

<p><b>1. <u>PERÍODO DE VIGÊNCIA</u></b></p>  
<p>Os critérios estabelecidos serão aplicados a partir da Base de Janeiro/2016 e serão válidas até o mês Base Novembro/2016</p>

<p><b>2. <u>VARIÁVEIS PARA CÁLCULO DO PRÊMIO</u></b></p>

<p >O cálculo será composto por Seis(6) Modalidades, conforme abaixo:</p>
<p class="padding arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - CANAL FARMÁCIA - Peso 2</b></p>
<p class="padding">AVALIAÇÃO DE DEMANDA DO CANAL EM <b>REAIS</b> X COTA EM <b>REAIS</b> DOS PRODUTOS DA GRADE DE PREMIAÇÃO DA LINHA NO MÊS EM QUESTÃO.</p>
<p><b>Auditoria utilizada para análise do Realizado: MDTR em Reais - IMS</b></p>

<p class="padding arrow-small"><b>COMPARAÇÃO MARKET SHARE X BRASIL - Peso 1</b></p>
<p class="padding">COMPARAÇÃO DO MARKET SHARE DO PERÍODO DA APURAÇÃO DA EMS PRESCRIÇÃO X MARKET SHARE DO COLABORADOR ATRAVÉS DO CANAL FARMÁCIA EM <b><U>REAIS</U></b> DOS PRODUTOS PROMOVIDOS PELA LINHA </p>
<p><b>Auditoria utilizada para análise do Realizado: PMB e MDTR em Reais - IMS</b></p>

<p class="padding arrow-small"><b>PENETRAÇÃO MARKET SHARE - Peso 2</b></p>
<p class="padding">COMPARAÇÃO DA PENETRAÇÃO DE MARKET SHARE DO PERÍODO DA APURAÇÃO DA EMS PRESCRIÇÃO X PENETRAÇÃO DE MARKET SHARE DO COLABORADOR ATRAVÉS DO CANAL FARMÁCIA EM <b>REAIS</b> DOS PRODUTOS PROMOVIDOS PELA LINHA NO MÊS EM QUESTÃO VERSUS MESMO PERÍODO DO ANO ANTERIOR</p>
<p><b>Auditoria utilizada para análise do Realizado: PMB e MDTR em Reais - IMS</b></p>

<p class="padding arrow-small"><b>NOTA DE PROVA - Peso 2</b></p>
<p class="padding">RESULTADO DE PROVA APLICADA PELO DEPTO DE TREINAMENTO AO LONGO DO ANO</p>
<p ><b class="mark">Análise das Notas: Depto de Treinamento.</b></p>

<p class="padding arrow-small"><b>CUMPRIMENTO DO ITINERÁRIO - Peso 1,5</b></p>
<p class="padding">ANÁLISE MENSAL DO LANÇAMENTO DE VISITAS X ITINERÁRIO MÉDICO PROGRAMADO PELO PROPAGANDISTA</p>
<p><b class="mark">Base de dados</b><b> utilizada para análise dos números: VISILAB - CLOSEUP - Relatório de Produtividade Mensal Fechado</b></p>

<p class="padding arrow-small"><b>FREQUÊNCIA - Peso 1,5</b></p>
<p class="padding">ANÁLISE MENSAL DA FREQUÊNCIA DE VISITAÇÃO REALIZADA PELO REPRESENTANTE</p>
<p><b class="mark">Base de dados</b><b> utilizada para análise dos números: VISILAB - CLOSEUP - Relatório de Produtividade Mensal Fechado</b></p>	

<p ><b>3. <U>PONTUAÇÃO DOS RANGES</U></b></p>
<p class="arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - CANAL FARMÁCIA</b></p>
<p class="h5"><img src="docs/dominio/img/GR1.png"></p>

<p class="arrow-small"><b>COMPARAÇÃO MARKET SHARE X BRASIL</b></p>
<p class="h5"><img src="docs/dominio/img/GR2.png" ></p>

<p class="arrow-small"><b>PENETRAÇÃO MARKET SHARE</b></p>
<p class="h5"><img src="docs/dominio/img/gR3.png" ></p>

<p class="arrow-small"><b>CONHECIMENTO</b></p>
<p class="h5"><img src="docs/dominio/img/gR4.png" ></p>

<p class="arrow-small"><b>CUMPRIMENTO DO ITINERÁRIO</b></p>
<p class="h5"><img src="docs/dominio/img/gR5.png" ></p>

<p class="arrow-small"><b>FREQUÊNCIA</b></p>
<p class="h5"><img src="docs/dominio/img/gR6.png" ></p>

<p><b>A somatória dos pontos das Variáveis x Peso será a Pontuação Quadrimestral de cada Propagandista, por Linha. Esta pontuação será calculada periodicamente - de acordo com Período de Vigência.</b></p>
<p><b>O propagandista com a Maior pontuação em Nov/16 será o Vencedor do Concurso.</b></p>

<p><b>4. <U>ACOMPANHAMENTO DA PONTUAÇÃO</U></b></p>

    <p >Todos os Colaboradores envolvidos no Concurso - e seus respectivos Gerentes - irão receber <b>Dois Extratos Parciais</b> aberto da Pontuação de Cada Colaborador.</p>
    <p >No cálculo da Pontuação Final do Quadrimestre, será considerado o Quadrimestre para <u>Todas</u> as Variáveis, aplicando-se a Média de pontos dos Meses das Variáveis de "Frequência" e "Cumprimento do Itinerário".</p>

    <p ><b>5. <u>PRÊMIO</U></b></p>
    <p>A apuração será realizada por Linha.</p>
    <p>Segue abaixo valores e quantidade de Ganhador por Linha:</p>
    <p><img src="docs/dominio/img/PROPA.png"></p>

    <p ><b>6. <u>ENTREGA DO PRÊMIO</U></b></p>
    <p>Os Vencedores do Concurso "Domínio EMS" irão receber os Prêmios na Convenção Nacional de 2017</p>

    <p ><b>7. <u>REGRAS</U></b></p>

    <ol type="a">
        <li>Serão elegíveis para a Campanha Domínio os colaboradores que foram contratados até 31 de Agosto de 2016 e que estejam com contrato de trabalho ativo até 31/11/2016<br></li>
        <li>Nos casos de alterações de Setor, o colaborador envolvido assumirá o histórico de Pontuação do respectivo território para as variáveis "Cobertura de Objetivos", "Evolução Brasil x Evolução Representante" e "Penetração Market Share". Para as variáveis Nota de Prova, Frequência e Cumprimento do Itinerário, o histórico irá acompanhar o colaborador.<br></li>
        <li>Os Demissionários e Demitidos até 31/11 do ano vigente da Campanha deixarão de Concorrer ao Prêmio do Concurso e sua Pontuação/Histórico será assumido pelo Novo Colaborador, conforme tópico B.<br></li>
        <li>Em caso de suspensão do contrato de trabalho, em período maior que 50% do Período de Apuração, o colaborador não fará jus a concorrer a Premiação.<br></li>
        <li>As disposições contidas nesta Políticas serão igualmente aplicadas aos temporários, nos termos do art. 12 da lei 6.019/74, contato que o mesmo participe em um período maior que 50% do Período de Apuração/Vigência.<br></li>
        <li>O Concurso abrange as seguintes Linhas de Negócio: Cardio, Clínica, Saúde, Neuro, Fênix, Sirius e Comercial (PDV, Contas Atacado e Contas Varejo).<br></li>
        <li>Serão aplicadas arredondamentos universais em todos os números/percentuais.<br></li>
        <li>No caso de Empate de Pontuação, iremos considerar os Pontos individuais das Variáveis, de acordo com a ordem abaixo:</li>
    </ol>

    <p class="padding arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - CANAL FARMÁCIA</b></p>
    <p class="padding arrow-small"><b>EV DEMANDA REP X EV DEMANDA BRASIL</b></p>
    <p class="padding arrow-small"><b>PENETRAÇÃO MARKET SHARE</b></p>
    <p class="padding arrow-small"><b>CUMPRIMENTO DO ITINERÁRIO</b></p>
    <p class="padding arrow-small"><b>FREQUÊNCIA</b></p>
    <p class="padding arrow-small"><b>NOTA DE PROVA</b></p>

    <p class="padding">Caso o empate persista, iremos abrir casas Decimais na Pontuação Final até que ocorra o desempate.</p>


    <ol type="a" start="9">
            <li>Um Comitê julgador composto pelo Diretor de Demanda e Markenting, Diretor de Comercial, Vice-Presidência e Juridico Trabalhista irá decidir em casos Omissos das Regras citadas acima:<br></li>
    </ol>


    <!--
    <p >De acordo:</p>
    <p >_________________________________________________________</p>
    <p >Nome:</p>
    <p >Setor:</p>
    <p >CPF:</p>
    <p >Data:____/____/_____</p>
    -->


