
<p class="h2"><b>VENDEDOR</b></p>

<p align="center"><u>CONCURSO - DOMÍNIO EMS</u></p>

<ol>
    <li>Périodo de Vigência</li>
    <li>Variáveis para Cálculo do Prêmio</li>
    <li>Pontuação dos Rangers</li>
    <li>Acompanhamento da Pontuação</li>
    <li>Prêmio</li>
    <li>Entrega Prêmio</li>
    <li>Regras</li>
</ol>

<p><b>1. <u>PERÍODO DE VIGÊNCIA</u></b></p>
<p>Os critérios estabelecidos serão aplicados a partir da Base de Janeiro/2016 e serão válidas até o mês Base Novembro/2016</p>


<p><b>2. <u>VARIÁVEIS PARA CÁLCULO DO PRÊMIO</u></b></p>
<p>O cálculo será composto por Cinco(5) Modalidades, conforme abaixo:</p>

<p class="padding arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - DEMANDA - CANAL FARMÁCIA</b></p>
<p class="padding">AVALIAÇÃO DO REALIZADO QUADRIMESTRAL DE DEMANDA DO CANAL FARMÁCIA EM <u><b>REAIS</b></u> X COTA EM <u><b>REAIS</b></u> DOS PRODUTOS EMS PRESCRIÇÃO DO MÊS EM QUESTÃO</p>
<p><b>Auditoria utilizada para análise do Realizado: MDTR em Reais - IMS</b></p>


<p class="padding arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - VENDA</b></p>
<p class="padding">AVALIAÇÃO DO REALIZADO QUADRIMESTRAL DE VENDA EM <u><b>REAIS</b></u> X COTA EM <u><b>REAIS</b></u> DOS PRODUTOS EMS PRESCRIÇÃO DO MÊS EM QUESTÃO</p>
<p><b>Auditoria utilizada para análise do Realizado: MDTR em Reais - IMS</b></p>

<p class="padding arrow-small"><b>EV Demanda Vendendor x EV Demanda Brasil</b></p>
<p class="padding">COMPARAÇÃO DE EVOLUÇÃO QUADRIMESTRAL DA EMS PRESCRIÇÃO X EVOLUÇÃO QUADRIMESTRAL DO COLABORADOR ATRAVÉS DO CANAL FARMÁCIA EM <u><b>REAIS</b></u> DOS PRODUTOS FOCO PROMOVIDOS PELA LINHA NO MÊS EM QUESTÃO VERSUS MESMO PERÍODO DO ANO ANTERIOR.</p>
<p><b>Auditoria utilizada para análise do Realizado: PMB e MDTR em Reais - IMS</b></p>

<p class="padding arrow-small"><b>NOTA DE PROVA</b></p>
<p class="padding">RESULTADO DE PROVA APLICADA PELO DEPTO DE TREINAMENTO AO LONGO DO ANO.</p>
<p><b class="mark">Análise das Notas: Depto de Treinamento.</b></p>

<p class="padding arrow-small"><b>POSITIVAÇÃO - PRODUTOS FOCO</b></p>
<p class="padding">ANÁLISE TRIMESTRAL DA POSITIVAÇÃO DOS PRODUTOS FOCO</p>
<p>PARA UM CNPJ SER CONSIDERADO POSITIVADO, O MESMO TERÁ QUE TER POSITIVADO UM PDV COM TODOS OS PRODUTOS FOCO PERÍODO DE 4 MESES.</p>
<p><b class="mark">Auditoria utilizada para análise do Realizado: MDTR em Reais - IMS</b></p>

<p><b>3. <u>PONTUAÇÃO DOS RANGES</u></b></p>

<p class="arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - DEMANDA - CANAL FARMÁCIA</b></p>
<p class="h2"><img src="docs/dominio/img/gdpdv1.png"></p>

<p class="arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - VENDA</b></p>
<p class="h2"><img src="docs/dominio/img/gdpdv2.png"></p>

<p class="arrow-small"><b>NOTA DE PROVA</b></p>
<p class="h2"><img src="docs/dominio/img/gdpdv3.png"></p>

<p class="arrow-small"><b>EV Demanda Vendedor x EV Demanda Brasil</b></p>
<p class="h2"><img src="docs/dominio/img/gdpdv4.png"></p>

<p class="arrow-small"><b>POSITIVAÇÃO - PRODUTOS FOCO</b></p>
<p class="h2"><img src="docs/dominio/img/gdpdv5.png"></p>


<p><b>A somatória dos pontos das Variáveis será a Pontuação Quadrimestral de cada Vendedor. Esta pontuação será calculada periodicamente-de acordo com o Período de Vigência.</b></p>
<p><b>O Vendedor com a Maior pontuação em Nov/16 será o Vencedor do Concurso.</b></p>


<p><b>4. ACOMPANHAMENTO DA PONTUAÇÃO</b></p>
<p>Todos os Colaboradores envolvidos no Concurso - e seus respectivos Gerentes - irão receber <b>Dois Extratos Parciais</b> aberto da pontuação de Cada Colaborador.</p>
<p>No cálculo da Pontuação Final do Quadrimestre, será considerado o Quadrimestre para <u>Todas</u> as Variáveis, aplicando-se a Média de pontos dos Meses das Variáveis de "Frequencia" e "Cumprimento do Itinerário".</p>

<p><b>5. <u>PRÊMIO</u></b></p>
<p>Segue abaixo valores e quantidade de Ganhador da Equipe Comercial:</p>
<p class="h2" align="center"><img src="docs/dominio/img/VENDE.png"></p>

<p><b>6. <u>ENTREGA DO PRÊMIO</u></b></p>
<p>Os Vencedores do Concurso "Domínio EMS" irão receber os Prêmios na Convenção Nacional de 2017</p>

<p><b>7. <u>REGRAS</u></b></p>
<ol type="a">
    <li>Serão elegíveis para a Campanha Domínio os colaboradores que foram contratados até 31 de Agosto de 2016 e que estejam com contrato de trabalho ativo até 31/11/2016<br></li>
    <li>Nos casos de alterações de Setor, o colaborador envolvido assumirá o histórico de Pontuação do respectivo território para as variáveis "Cobertura de Objetivos - VENDA", "Cobertura de Objetivos - Demanda", "Evolução Brasil x Evolução Vendedor" e "Positivação". Para as variáveis Nota de Prova o histórico irá acompanhar o colaborador.<br></li>
    <li>Os Demissionários e Demitidos até 31/11 do ano vigente da Campanha deixarão de Concorrer ao Prêmio do Concurso e sua Pontuação/Histórico será assumido pelo Novo Colaborador, conforme tópico B.<br></li>
    <li>Em caso de suspensão do contrato de trabalho, em período maior que 50% do Período de Apuração, o colaborador não fará jus a concorrer a Premiação.<br></li>
    <li>As disposições contidas nesta Políticas serão igualmente aplicadas aos temporários, nos termos do art. 12 da lei 6.019/74, contato que o mesmo participe em um período maior que 50% do Período de Apuração/Vigência.<br></li>
    <li>O Concurso abrange as seguintes Linhas de Negócio: Cardio, Clínica, Saúde, Neuro, Fênix, Sirius e Comercial (PDV, Contas Atacado e Contas Varejo).<br></li>
    <li>Serão aplicadas arredondamentos universais em todos os números/percentuais<br></li>
    <li>No caso de Empate de Pontuação, iremos considerar os Pontos individuais das Variáveis, de acordo com a ordem abaixo:</li>
</ol>

<p class="padding arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - VENDA</b></p>
<p class="padding arrow-small"><b>OBJETIVO X REALIZADO (COB DE OBJETIVO) - DEMANDA - CANAL FARMÁCIA</b></p>
<p class="padding arrow-small"><b>NOTA DE PROVA</b></p>
<p class="padding arrow-small"><b>EV Demanda Vendedor x EV Demanda Brasil</b></p>
<p class="padding arrow-small"><b>POSITIVAÇÃO - PRODUTOS FOCO</b></p>

<p>Caso o empate persista, iremos abrir casas Decimais na Pontuação Final até que ocorra o desempate.</p>

<ol type="a" start="9">
        <li>Um Comitê julgador composto pelo Diretor de Demanda e Markenting, Diretor de Comercial, Vice-Presidência e Juridico Trabalhista irá decidir em casos Omissos das Regras citadas acima:</li>
</ol>

