
.top-nc, .bg {
    //#af9b88 rgb(175,155,136) rgba(76, 61, 42, 1)
    background-color: rgba(0,73,135,1) !important;
}

.navbar-custom {
    background-color: #00639A;  // rgba(0,73,135,1) !important;
    font-size:12px;
}

.navbar-custom .nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    /*border-color: #428bca*/;
}
.navbar-custom .navbar-nav a {
    color:#fff;
}

iframe {
    border: 0px;
}

.navbar-custom .dropdown-menu a {
    color:#000;
    font-size: 12px;
}

.top-border {
	border-top:2px solid #324b80;	
}
.top-border-danger {
	border-top:2px solid #900;
}

.navbar-custom  .navbar-header .brandCustom {
    padding-top:15px;
    padding-bottom:15px;
    margin-left: 10px;
    padding-left: 80px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    background-image: url(../img/ems-logo.png) ; 
    background-repeat: no-repeat;
    background-position-y: 2px;
    display: block;
}

.navdbar-brand-container {
    width: 180px;
    height: 30px;
    padding-left:10px;
    margin-bottom: 5px;
}

.navbar-brand-custom {
    width: 180px;
    height: 50px;
    padding-left:180px;
    background-image: url(../img/ems-logo.png) ; 
    background-repeat: no-repeat;
}