@charset "utf-8";
body {
    padding-top: 50px;
    /*background-image:url(../../public/img/background_home.png)	;*/
    background-color: #f7f7f7;
}

.container, .enquete {
    font-family: "praxis_lt_light";
    font-size: 18px;
}

#dados-home .header-box {
    font-size: 22px;
    margin-bottom: 14px;
    /* text-transform:uppercase; */
    font-weight: bold;

}

.header-text-color {
    color: #324b80;
}

.header-text-color-danger {
    color: #900;
}

.top-border {
    border-top: 2px solid #324b80;
}

.top-border-danger {
    border-top: 2px solid #900;
}

.focus {
    -moz-box-shadow-bottom: 4px 4px 4px black;
    -webkit-box-shadow-bottom: 4px 4px 4px black;
    box-shadow: 2px 2px 5px #ccc;
}

#carousel-informativo .item {
    height: 400px !important;
    overflow: auto;
    padding-right: 10px;
}

.nav-informativo {
    padding: 7px;
    color: #7d7d7d;
    text-decoration: none;
    background-color: #00FF00;
    border: solid #0b2e13;
    cursor: pointer;
}

.nav-informativo-r {
    border-radius: 20px 50px 50px 20px !important;
}
.nav-informativo-l {
    border-radius: 50px 20px 20px 50px !important;
}



/*rect{width:100% !important;}/* CSS Document *//* CSS Document */ 

