.top-nc, .bg {
     background-color:  #005574;
} 

.bg-nc {
    background-color:  rgba(0, 85, 116, 0.03);
    border-bottom: 1px solid rgba(0, 85, 116, 0.1);
}

.text-nc {
    color: #005574 !important; 
}

.navbar-brand-nc {
    background-image: url(../img/ems-logo.png);
}

.linse-nc {
    border-bottom: 2px solid #005574;
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #005574;
}