@charset "utf-8";
/* CSS Document */

* {
    border-radius: 0px !important;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.max-height {
    max-height: 400px;
    overflow-y: auto;
}

body {
    padding-top: 50px;
}

.alert-gray {
    color: #777777;
    background-image: -webkit-linear-gradient(top, #eeeeee 0, #dddddd 100%);
    background-image: -o-linear-gradient(top, #eeeeee 0, #dddddd 100%);
    background-image: linear-gradient(to bottom, #eeeeee 0, #dddddd 100%);
    background-repeat: repeat-x;
    border: 1px solid #ddd;

}

.nome-pilar, .pasta {
    cursor: pointer
}

#index-conteudo {

}

.index-conteudo-padding-on {
    padding-top: 70px;
}

.index-conteudo-padding-off {
    padding-top: 51px;
}

#ferramenta iframe {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

#ferramenta {
    top: 51px;
    position: absolute;
    width: 100%;
    height: calc(100% - 52px);
}

.fundo {
    background-color: #D5FFD5;
}

#tb-dados-pilares {
    width: 100%;
    font-size: 12px;
}

#tb-dados-pilares td {
    padding: 0px;
    margin: 0px;
}

#tb-dados-pilares .pilar {
    background-color: #f5f5f5;
    margin: 1px;
}

#tb-dados-pilares tr.filho td {
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}

#tb-dados-pilares .chk-produto {
    padding: 0px;
    margin: 0px;
}

#tb-dados-pilares p {
    padding: 4px;
    margin: 1px;
}

.rollover a:hover {
    background-color: #e5e5e5;
}

.marginBottom-0 {
    margin-bottom: 0;
}


.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: auto;
    right: 100%;
    position: absolute;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:before {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
    padding-left: 0;
}

.dropdown-submenu:hover > a:before {

}
#caret-menu{
    font-size: 15px;
    padding: 0;
    margin-right: 0;
}

#caret-menu:hover{

}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#home-rodape {
    background-color: #5a5a5a;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "praxis_lt_light";
}

#home-rodape small {
    color: #ccc;

}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.circleImg {
    background-color: #aaa;
    border-radius: 50%!important;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    margin: 5px;

}

.circleImg img {
    position: absolute;
    top:1;
    bottom: 0;
    width: 100%;
}
.circleImgW3 {
    background-color: #aaa;
    border-radius: 50%!important;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    top:-3px;
}

.large {
    font-size: 6rem !important;
}

.circleImgW3 img {
    top:1;
    bottom: 0;
    width: 100%;
}
.circleImgGrd{
    background-color: #aaa;
    border-radius: 50%!important;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    margin: 5px;

}
.circleImgGrd img {
    position: absolute;
    top:1;
    bottom: 0;
    width: 100%;
}

.list-group-item-default-barra{
    background: #f9f9f9!important;
}
.semHover :hover {
    background: #f9f9f9!important;
}
.semHover  {
    background: #f9f9f9!important;
}
.semHoverBarra :hover {
    background: #e9e9e9!important;
}
.semHoverBarra  {
    background: #e9e9e9!important;
}
.semHoverBarra button:hover  {
    background-color: #b92c28!important;
    color: white!important;
}

.w3-drop a{
    background-color: #f9f9f9 !important;
}
.w3-drop {
    background-color: gray!important;
    position:fixed!important;
    margin-top:50px;
}

.w3-drop a:hover{
    background-color: #e1e1e1 !important;
}
.w3-drop .w3-disableded, .w3-drop .w3-disableded:hover{
    text-decoration: none!important;
    background-color: #fdfdfd !important;
    border-bottom:1px solid #0f0f0f!important;
}

#drop {
    text-decoration: none!important;
    background-color: #fdfdfd !important;
}
#drop :hover {
    text-decoration: none!important;
    background-color: #fdfdfd !important;
}

#drop :hover button{
    text-decoration: none!important;
    background-color: #d43f3a !important;
}


