*{
    border-radius: 0px !important;
}

.top-nc, .bg {
    background-color: rgba(186, 12, 47, 100);
} 

.bg-nc {
    /*background-color:  #fff;*/
     background-color:  rgba(186, 12, 47, 0.03); /*#CD1338; */
     border-bottom: 1px solid rgba(186, 12, 47, 0.1);
}

.text-nc {
    color: #555 !important; 
}


.navbar-brand-nc {
    background-image: url(../img/lgr-original.png);
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(186, 12, 47, 100);
}