
.top-nc, .bg {
/ / #af9b88 rgb(175, 155, 136) rgba(76, 61, 42, 1) background-color: rgba(0, 73, 135, 1) !important;
}

.navbar-custom {
    background-color: #0E76BC;
/ / rgba(0, 73, 135, 1) !important;
    font-size: 12px;
/ / background-color: red;
}

.navbar-custom .nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    /*border-color: #428bca*/;
}

.navbar-custom .navbar-nav a {
    color: #fff;
}

iframe {
    border: 0px;
}

.navbar-custom .dropdown-menu a {
    color: #000;
    font-size: 12px;
}

.top-border {
    border-top: 2px solid #324b80;
}

.top-border-danger {
    border-top: 2px solid #900;
}

.navbar-custom .navbar-header .brandCustom {

    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    padding-left: 80px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    background-image: url(../img/logo-oft.png);
    background-repeat: no-repeat;
    background-position-y: 2px;
    display: inline-block;
    height: 50px;
    width: 380px;

}

.navbar-custom .navbar-header .brandCustomBtn {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 14px;
    padding-left: 25px;
    font-weight: bold;
    display: inline-block;
    height: 50px !important;
}

.navbar-custom .navbar-header {
    width: 250px !important;
}

.navdbar-brand-container {
    width: 180px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.navbar-brand-custom {
    width: 180px;
    height: 50px;
    padding-left: 180px;
    background-image: url(../img/logo-oft.png);
    background-repeat: no-repeat;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #0E76BC;
}

.nav > li > a {
    display: inline-block !important;
}

.navbar-right ul li{
    display: inline!important;

}

.w3-personalizado {
    color: #fff !important;
    background-color: #0E76BC !important;
    top:0;
    position: fixed;

}
.w3-personalizado, .w3-hover-personalizado:hover {
    color: #fff !important;
    background-color: #0E76BC !important;
}
.w3-personalizado-bt{
    text-align: center;
    text-decoration: none;
    padding-right: 12px!important;
    padding-left: 12px!important;
    height: 50px;
}
.w3-personalizado-bt:hover{
    height: 50px;
    text-decoration: none;
    padding-right: 12px!important;
    padding-left: 12px!important;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.3)!important;
}

.w3-personalizado-bt:focus{
    height: 50px;
    text-decoration: none;
    padding-right: 12px!important;
    padding-left: 12px!important;
    color: #fff !important;
}

.w3-dropdown-hover:hover > .w3-button:first-child, .w3-dropdown-click:hover > .w3-button:first-child{
    height: 50px;
    text-decoration: none;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0)!important;
}

.w3-logo:hover{
    background-color: #0E76BC !important;
    color: #fff !important;
    text-decoration: none!important;
}

.text-icon{
    color: #0E76BC !important;
}

.title-side{
    color: #0E76BC !important;
    font-size: 18px;
}

.div-Separador{
    border: 0.1px solid rgba(14, 118, 188, 0.25);
}

