.navbar {margin-bottom: 0px;}
.panel-left { background: #ddd; }
.panel-right { background-color: #fff; height: 100%; }
body {background: #fff;}
    
    
.nav-pills>li {
/*   //background-color: #ddd*/
}