* {
    border-radius: 0px !important;
}

.alert {margin-bottom:2px; padding:2px}

html, body {
    padding:0px;
    margin:0px;	
    height:100%;
    /*font-family: "open_sansregular";*/
    font-family: 'Roboto', "arial";
    /* font-family: "arial"; */
    
}

.panel-left { 
    /*background: #f4f4f4; */
    
    /*#2c3334*/
    
    
    color: #fff;
    /*border-right: 1px solid #ddd; */

    background: #2A3F54;
}

.bg-default {
    color: #000;
    background-color: #ddd;
}


.alert-default {
    color: #777;
    background-color: #e5e5e5;
    border-color: #CCC;
}


/*
.table tbody>tr>td {
    vertical-align: middle;
}
*/