@charset "utf-8";
/* CSS Document */
* {
    border-radius: 0px !important;
}
html, body {
	padding:0px;
	margin:0px;	
	/* height:100%; */
	/*font-family: "open_sansregular";*/
	font-family: "Segoe UI", 'arial';
	
	/*font-family: "arial";*/
	/*color: #73879C;*/
	background-color:#f9f9f9;
	
}

body {
	/* padding-top: 50px;	*/
}
.modal-header {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.max-height{max-height: 450px;overflow-y: auto;overflow-x:auto}