@charset "utf-8";
/* CSS Document */

html, body {
	/*padding:0px;
	//margin:0px;	*/
	font-family:"open_sansregular";
	
}

body {
	/*padding-top: 50px;	*/
	background-color:#fafafa;
}
.modal-header {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.table tbody>tr>td
{
    vertical-align: middle;
}

.max-height{max-height: 450px;overflow-y: auto;overflow-x:auto}