<strong>1.	INTRODUÇÃO</strong>
Este documento descreve o conjunto de diretrizes para implantação e manutenção do programa de premiação desta Unidade de Negócio para o ano de 2016, o qual visa não só reconhecer e recompensar, como também focar as necessidades e objetivos estratégicos da companhia.
<strong>2.	OBJETIVO </strong>
Estabelecer os critérios para elaboração e apuração dos prêmios a serem pagos aos colaboradores elegíveis. 
<strong>3.	CAMPO DE APLICAÇÃO</strong> 
Esta Política se aplica ao ocupante do cargo de Gerente Distrital. 
<strong>4.	ELEGIBILIDADE</strong>
Gerentes Distritais
<strong>5.	FLUXO DE APROVAÇÃO DO CÁLCULO MENSAL</strong>
O cálculo mensal observará o seguinte fluxo de atividades:  
<strong>AÇÕES RESPONSÁVEIS</strong>
<table class="tbl">
<tr>
    <td><b>AÇÕES</b></td><td><b>RESPONSÁVEIS</b></td>
</tr>    
<tr>
	<td>Cálculo Mensal</td><td>Estratégia de Negócio</td>
</tr>
<tr>
	<td>Aprovação</td>	<td>Diretoria ou Diretoria Adjunta da área envolvida</td>
</tr>
<tr>
	<td>Auditoria</td>	<td>Financeiro</td>
</tr>
<tr>
	<td>Validação</td> 	<td>Diretoria de Estratégica de Negócios</td>
</tr>
<tr>
	<td>Operacionalização do Pagamento (Processamento)</td>	<td>CSI</td>
</tr>
<tr>
	<td>Aprovações de Exceções</td>	<td>Presidência do Conselho de Administração</td>
</tr>
</table>
<strong>6.	CRITÉRIOS PARA CÁLCULO DO PRÊMIO MENSAL</strong>
Estabelecer as regras, valores, metas, níveis hierárquicos, valores de cotas, target, faixas de premiação (R$), metodologia de cálculo, etc.

<ul>
	<li>
		<b>6.1.	Regra/metodologia</b>

		<ul><li>Cobertura de Cota de Demanda: Avaliação do Realizado em reais X Cota em reais do canal farmácia</li></ul>

	</li>

	<li>
		<b>6.2.	Régua - Cobertura</b>
		<img src="docs/politica_premiacao_gd/1.png" class="center-block img-responsive"  />

	</li>

	<li>
		<b>6.3.	Mês base da apuração</b>

		<ul>
			<li>
				Os critérios estabelecidos serão aplicados a partir da Base de Jan/2016, podendo ser revisados em atendimento às estratégias do Depto. de Marketing e de Demanda. As atualizações dos critérios para o cálculo do Prêmio serão devidamente formalizadas aos cargos elegíveis.
			</li>
			<li>
				O pagamento do Prêmio mês base Jan/2016, será efetuado em Fev/2016 e assim sucessivamente, através do MDTR canal farmácia.
			</li>
		</ul>
	</li>

	<li>
		<b>6.4.	Memoria de Cálculo</b>
	</li>
	
	<li>
		<ul>
			<li>
				<b>6.4.1.	Cota </b>

				<ul>
					<li>
						As Cotas de 2016 serão elaboradas através de dois indicadores (IVM e IVP), os mesmos serão determinados conforme a Estratégia da Empresa (LINHA x MERCADO x PRODUTO). 
					</li>

					<li>
						Através desse calculo é verificado a representatividade do mesmo em relação ao Brasil aplicando o Forecast para obtenção da cota de cada colaborador. 
					</li>
				</ul>
			</li>
			
			<li>
				<b>6.4.2.	Premiação</b>

				<ul>
					<li>
						Após a liberação das informações pelo IMS é calculada a cobertura por produto correspondente de cada território, verifica-se no range de premiação qual o valor corresponde a esse percentual e multiplica-se o mesmo com a grade de peso de produtos.

Ex.: 
<img src="docs/politica_premiacao_gd/2.png" class="center-block img-responsive"  />
					</li>
				</ul> 
			</li>
		</ul>
	</li>
	<li>
		<b>6.5.	Grupo de produtos/percentual</b>

 			<ul>
				<li>
					A grade de Produtos – e seus respectivos Pesos - será divulgada através do Departamento de Planejamento Estratégico. 
				</li>
				<li>
					O percentual dos produtos será estabelecido através de Pesos (em %) que serão definidos de acordo com as necessidades estratégicas da EMS Prescrição.
				</li>
			</ul>

	</li>
</ul>


<b>7.	RECUPERAÇÃO</b>

<ul>
	<li>
		<b>7.1.	Regra/metodologia</b>
		<ul>
			<li>
                            Ao fechamento de cada quadrimestre será calculado o realizado acumulado contra a cota acumulada do Grupo de Produtos conforme divulgação através do Departamento de Planejamento Estratégico dos meses em referência, permitindo desta maneira que a parte não conquistada em algum mês possa ser recuperada.
			</li>
			<li>
Independente de mudança de setor, o colaborador estará recebendo a Recuperação Quadrimestral referente ao último setor e cargo atuado dentro do Quadrimestre.
			</li>
                        <li>Para que o colaborador faça jus à recuperação, o mesmo deverá ser admitido até o dia 15 do 1º mês referente ao quadrimestre da apuração -  (Janeiro/2016,  Maio/2016 e Setembro/2016) e trabalhado o Período do Quadrimestre da apuração.</li>
		</ul>
	</li>
<li>
	<b>7.2.	Período</b>
 	<!-- <img src="docs/politica_premiacao_gd/3.png" class="center-block img-responsive"   /> -->
</li>
</ul>

<b>8.	PRÊMIO PERFORMANCE PRESCRIÇÃO(PPP)</b>

<ul>
	<li>
		<b>8.1.	Regra/metodologia</b>

		<ul>
			<li>
				"Gatilho" do Prêmio: Performance de Cobertura de 100% sobre a Cota do mês da EMS Prescrição, através do PMB(IMS) em Reais.
			</li>
			<li>
A partir da Cobertura de 100% da EMS Prescrição, iremos calcular o PPP da seguinte forma:
Soma da Cota de todos os Produtos Promovidos (Em Reais) x Realizado de todos os Produtos Promovidos(Em Reais) conforme linha.
			</li>
		</ul>
	</li>
	<li>
		<b>8.2.	Target (Valores)</b>
		<ul>
			<li>
				As 50% maiores Coberturas acima de 100% farão jus ao Prêmio Mensal PPP de acordo com o valor abaixo:
				<img src="docs/politica_premiacao_gd/4.png" class="center-block img-responsive"   />
Obs: Caso aconteça empate no Percentual de Cobertura, iremos considerar mais casas decimais até que ocorra o desempate.
			</li>
			
		</ul>
	</li>
</ul>

<b>9.	PRÊMIO LANÇAMENTO</b>

<ul>
	<li>
		<b>9.1.	Regra/metodologia</b>
		<ul>
			<li>
				“Gatilho” do Ao fechamento do Quadrimestre pós-lançamento do produto, iremos apurar a Cobertura Quadrimestral (Cota em Reais do Quadrimestre x Realizado em Reais do Quadrimestre) do Produto Lançado.
			</li>
			<li>
Caso o Brasil atinja 100% de Cobertura no Quadrimestre todos os colaboradores da Linha que lançou o Produto.
			</li>
		</ul>
		
	</li>
	<li>
		<b>9.2.	Target (Valores) </b>	
		<p><img src="docs/politica_premiacao_gd/5.png" class="center-block img-responsive"  /></p>
  
Caso o Brasil não atinja a Cobertura Quadrimestral, mas o Individual fechar acima de 100%, o colaborador fará jus ao seguinte valor:
<div><img src="docs/politica_premiacao_gd/6.png" class="center-block img-responsive"   /></div>
 
Para que o colaborador faça jus ao prêmio de Lançamento, o mesmo terá que ter trabalhado todo o Período do Quadrimestre Pós-Lançamento.
</li></ul>
<b>10.	CONSIDERAÇÕES GERAIS </b>
<ul><li>
<b>10.1.	Transferências de setores/regiões; </b>
<ul><li>
Em caso de transferência para outra região, o colaborador assumirá as metas de seu novo setor.
</ul></li>
</li><li>
<b>10.2.	Admissão/demissão/afastamento;</b>
<ul>
    <li>
        Os colaboradores admitidos até o dia 15 receberão o prêmio respectivo ao mês de admissão.
    </li>
    <li>
        Os cálculos do prêmio dos colaboradores desligados / afastados (licença médica e ou licença maternidade) serão efetuados até o último dia trabalhado.
    </li>
    <li>
        O colaborador demitido por justa causa não fará jus ao valor do prêmio do mês do desligamento.
    </li>
    <li>
        Os valores de premiação serão pagos juntamente com os recibos mensais no dia 30 de cada mês, com incidência de todos os encargos e incidências devidas.
    </li>
</ul></li>
</li><li>
<b>10.3.	Regra para desligado. </b>
<ul><li>
Na rescisão deverá ser pago o Prêmio médio dos últimos 03 meses. O CSI deverá calcular e enviar para processamento o valor do Prêmio, evitando assim gerar Rescisão Complementar.
</ul></li>
</li><li>
<b>10.4.	Garantia de prêmio;</b>
<ul><li>
Os colaboradores recém-contratados nos 3 primeiros meses de trabalho terão a garantia da premiação de 100% do target (se aprovado pela Diretoria EMS Prescrição, após esse período, passará a receber pelo resultado individual.
</ul></li>
<li>
<b>10.5.	Colaborador em JOB:</b>
<ul></li>
	Durante o período de "Job" os colaboradores receberão a premiação garantida em 100% da função anterior ao programa.
</li></ul>
</li>

<li>
<b>10.6.	Outros:</b>
<ul class="list-style"> <li>
    A empresa se reserva o direito de alterar o target e/ou as metas mensais sempre que julgar necessário, após aprovação da Diretoria da área, Diretoria Corporativa de GCH, Diretoria de Estratégia de Negócios e Presidência, mediante aditivo e informará antecipadamente e mensalmente essas alterações processadas aos elegíveis a esta política.
</li><li>
	Todos os colaboradores terão acesso ao Extrato Mensal com a devida cobertura, aberta por Produto e os Valores em Reais que serão depositados em sua Folha de Pagamento.
</li><li>
	Todas as exceções à atual política e eventuais alterações, correção de valores e metodologia que venham a ser necessárias para preservar os interesses de ambas as partes serão atribuição da Direção da empresa que avisará com antecedência necessária os interessados.
</li><li>
	O cálculo da premiação / recuperação será feito pelo departamento de estratégia de negócios da corporação, observando os critérios e periodicidade (mensal, quadrimestral, etc) definido nesta politica. Posteriormente, os valores apurados serão validados e aprovados pelo diretor responsável por cada unidade de negócio. Após essa validação a diretoria de área de desenvolvimento estratégico irá aprovar / finalizar o processo e enviar para a área de CSI efetuar o pagamento.  As áreas financeira e gestão de riscos serão responsáveis por revisar todo o processo, inclusive considerando eventuais eventos subsequentes, como a devolução de produtos, inadimplência, etc.
</li><li>
	Anualmente a área de auditoria interna também efetuará testes sobre estes procedimentos e cálculos efetuados. As eventuais diferenças apuradas serão pagas ou descontadas nas recuperações quadrimestrais ou, no momento da rescisão contratual.
</li><li>
	As disposições contidas nesta Política serão igualmente aplicadas aos temporários, nos termos do art. 12 da lei 6.019/74.
</li><li>
	Devido a não possibilidade definida pela IMS de quebra de bricks - impossibilitando a definição de setores -, será avaliada pela Diretoria Comercial e de Marketing/Demanda a possibilidade de adoção do formato Pool para pagamento de premiação
</li><li>
	Esta política não se aplica a premiações extraordinárias/promoções mensais que serão regidas por regulamento próprio.
</li></ul>
</li>
</ul>


<b>11.	PERÍODO DE VIGÊNCIA</b>

Esta Política substitui e revoga todas as anteriores, tendo sua vigência estabelecida de 01/01/2016 a 31/12/2016.



<b>12.	GLOSSÁRIO</b>
	
	Para efeito do presente regulamento aplicam-se as seguintes definições:
	
<b>a)	Unidade de Negócio:</b> Empresa integrada ao Grupo EMS ao campo de aplicação da divisão 
<b>b)	Venda</b>
<ul><li>
<b>a.	Venda Faturada Bruta</b> – Valor de estatística (valor do produto menos desconto comercial, impostos e devoluções), fonte BI;
</li>
<li>
<b>b.	Preço Médio</b> – valor faturado bruto dividido pela quantidade faturada, fonte BI;
</li>
<li>
<b>c.	Desconto Médio</b> – resultado médio obtido dos descontos de todos os produtos de um pedido ou nota fiscal, fonte BI;
</li>
<li>
<b>d.	Inadimplência</b> – pendencias financeiras, fonte BI;
</li>
<li>
<b>e.	Mercanet</b> – sistema de automação comercial do grupo;
</li>
<li>
<b>f.	OP</b> – Operação Logística – vendas Efetuada através dos estoques dos distribuidores, fonte Mercanet.
</li></ul>
<b>c)	Demanda</b>
<ul><li>
<b>a.	ED: Estudo de Distribuição</b> – Demanda em Market Share dos principais laboratórios do genérico por CNPJ, fonte IMS;
</li><li>
<b>b.	NEW DDD:</b> Demanda por produto/Brick, fonte IMS;
</li><li>
<b>c.	PMB:</b> Demanda por produto, fonte IMS;
</li><li>
<b>d.	MDTR:</b> Demanda dos produtos EMS por Distribuidor e Farmacia, fonte IMS;
</li><li>
<b>e.	AUDIT PHARMA:</b> Receituário / Gerenciamento por médico e produto, fonte Closeup.
</li></ul>
<b>d)	Financeiro</b>
<ul><li>
a.	OP II: Resultado operacional da Empresa/Divisão
</li></ul>
<b>e)	Sell Inn:</b> Venda

<b>f)	Sell Out:</b> Demanda

<b>Cobertura de Cota:</b> Avaliação do realizado versus a cota.
