* {
    border-radius: 0px !important;
}

html, body {
    padding:0px;
    margin:0px;	
    height:100%;
    font-family: "open_sansregular";
}

.panel-left { 
    background: #f5f5f5; 
    border-right: 1px solid #ddd; 
}


.table tbody>tr>td {
    vertical-align: middle;
}