html, body {
    /* font-family: "arial"; */
    /*font-family: "open_sansregular";*/
    height:100%;
    font-family: 'Roboto', "arial";
    background:  #f9f9f9;
    color: #73879C;
}


.panel-left, .panel-mobile { 
    /*border-right: 1px solid #ddd; */
    background: #2A3F54; 
    color: #fff;
}


.panel-right {
    padding:0px;
}

.chk {
    margin:0px !important;  
}
    
thick-border {
    border-right: 2px solid #ddd;
}

.hr {
    margin-top:6px;
    border-bottom:1px solid #ddd;
    margin-bottom: 6px;
}

.alert {
    margin-bottom:2px; 
    padding:2px
}

.alert-default {
    color: #777;
    background-color: #e5e5e5;
    border-color: #CCC;
}

.panel {
    margin:2px;
}

.panel-body {
    padding:10px;
}

.tb td, .tb th {
    white-space: nowrap;
}

.table {
    margin-bottom: 0px;
    font-size: 12px
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.progress {
    margin-bottom: 0px;
    height: 15px;
    position: relative;
}

.nopad {
    padding:0px;
}
.progress-bar-title {
    position: absolute;
    text-align: center;
    line-height: 15px; /* line-height should be equal to bar height */
    overflow: hidden;
    color: #FFF;
    right: 0;
    left: 0;
    top: 0;
    font-weight: 600;
}

.progress-bar-title-white {
    color: #FFF;
}

.progress-bar-title-black {
    color: #777;
}

.padding {
    padding-right: 10px;
    padding-left: 10px;
}

.bg-default {
    color: #000;
    background-color: #ddd;
}

.box {
    font-size:35px;
    font-weight: 600;
}


#nav-dash a {
    color:#73879C;
}

.th {
    font-weight: bold;
}

.nav-menu-right {
    border-bottom: 1px solid #ddd; 
    background: #f1f1f1;
    margin-bottom: 5px;
}